img {
  height: 70px;
  width: auto;
  border: 3px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.game-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameinfo {
  text-align: center;
  margin: 100px;
  font-size: 1.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
}

.price {
  text-decoration: line-through;
  font-weight: bold;
}

/* #storebutton {
  height: 2rem;
  width: auto;
  font-size: 1.4rem;
} */
