img {
  height: 70px;
  width: auto;
  border: 3px solid rgb(23, 149, 233);
  margin-left: 100px;
  margin-right: 100px;
}

.game-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameinfo {
  text-align: center;
  margin: 100px;
  font-size: 2.2rem;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
}

.price {
  text-decoration: line-through;
  font-weight: bold;
}

#storebutton {
  height: 2rem;
  width: auto;
  font-size: 1.5rem;
  padding-bottom: 42px;
}
li {
  list-style: none;
  font-size: 1.8rem;
}
